* {
  margin: 0px;
  padding: 0px;
  font-family: Rockwell;
  text-align: center;
}

body {
  background-color: #272b30;
  color: #c8c8c8;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}