.BusinessCard-container {
  margin: 20px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  gap: 20px;
}

.BusinessCard-container img{
  max-width: 200px;
  height: auto;
}

.BusinessPhoto-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.BusinessName-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.BusinessContact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 250px;
}

.BusinessName{
  font-size: 30px;
}