.Footer {
  font-size: 14px;
  color: #1025a1;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0px;
}

Footer a{
  font-size: 14px;
  color: #1025a1;
  text-decoration: none;
}

Footer p{
  font-size: 14px;
  color: #1025a1;
  margin: 0px;
}