.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  color: #25316D;
}

.Header-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
}