.OrderCard-container {
  border: 2px solid black;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}

div p {
  margin: 0px;
  padding: 0px;
}