* {
    padding: 0;
    margin: 0;
    font-family: Rockwell;
    list-style: none;
    text-decoration: none;
    color: rgb(236, 234, 216);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategray;
    padding: 10px;
    position: sticky;
    top: 0;
}

.home {
    width: fit-content;
    height: auto;
    font-size: 34px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    height: fit-content;
    padding: 42px 10px;
    gap: 10px;
}

textarea, input {
    color: black;
    width: 100%;
    resize: none;
}

fieldset {
    padding: 10px;
}

.my-contact {
    text-align: none;
    order: 1;
    width: 100%;
}

.contact-us {
    width: 100%;
    padding: 10px;
}

/* About Me */
#introduction {
    font-size: 32px;
    font-weight: bold;
}

#about-me {
    padding: 42px 10px;
    background-color: rgb(189, 235, 235);
}

.profession {
    font-size: 24px;
}

#about-me > div {
    height: fit-content;
    color: darkslategray;
    padding: 10px;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.logo-container img {
    width: 40px;
    height: 40px;
    flex: 0;
    padding: 0 10px;
}

/* Projects */
#projects {
    background-color: slategray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 42px 10px;
    font-size: 32px;
}

.projects div {
    color: rgb(189, 235, 235);
}

.projects button {
    color: black;
    background-color: whitesmoke;
    border: 1px solid darkslategray;
    padding: 2px 10px;
    text-align: center;
    border-radius: 5px;
}

.project-title {
    font-size: 24px;
}

.project-1, .project-2, .project-3 {
    padding: 10px;
}

.project-description {
    font-size: 14px;
}

/* Skills */

#skills {
    height: fit-content;
    color: darkslategray;
    padding: 42px 10px;
    background-color: rgb(189, 235, 235);
    font-size: 32px;
}

.git, .html, .css {
    color: darkslategray;
}

.javascript, .mongodb, .express, .react, .node {
    color: lightslategray;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}